$color-black: #14060f;
$color-magenta: #b92c92;
$color-purple: #754faa;
$color-blue: #3463ae;

$height-sc-panel: 75px;
$height-g-header: 92px;
$height-g-footer: 200px + $height-sc-panel;

$margin-side: 6%;
$margin-works-list: 30px;

$width-max-pc: 1080px;
